{% comment %} {% extends 'student/home.html' %} {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}

<div><button style="font-weight: 600;
background-color: aqua;
width: 19rem;
height:2rem;
text-decoration: none;
"type="submit"><a href="{% url 'detail' %}">Back</a> </button></div>
    <div style="display: inline-block; background: wighte; margin-top: 20px;">
        <div id="gradient"></div>
        <div id="card">
          
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button   type="submit">Search</button>
          </form>
        </div>
        
    </div>
   
{% endblock content %}
    